.vermelho{
  background-color: #FF0000;
}
.azul{
  background-color: #007FFF;
}

@font-face {
     font-family: Titillium Web;
     src: url('../font/TitilliumWeb-Bold.otf');
}
.active, .current-menu-item {
  background-color: #4F5091;
}
.topo{
  float: right;
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 20px;
}
.logo-face{
  float: left;
  font-family: sans-serif;
  font-size: 13px;
  margin-top: 20px;
  color:#A8AAAD;
}
.linha-vertical {
  height: 18px;
  border-left: 1px solid;
}
.txt-news{
  float: left;
  font-family: sans-serif;
  font-size: 15px;
  margin-top: 25px;
}
.logo{
  float: left;
  width: 323px;
  height: 87px;
}
.campo-news{
  margin-top: 8px;
}
.bt-news{
  margin-top: 9px;
}
.fundo-menu{
  background-color: #F5F5F5;
  height: 50px;
}
.text-empresa-index{
  text-align: justify;
  line-height: 30px;
}
.tit-index{
  text-align: center;
  margin-top: 20px;
}
.box-cinza{
  width: 303px;
  height: 330px;
  background-color: #EEEEEE;
  opacity: 0.9;
  margin-top: -80px;
  z-index: 2;
}
.pic-dica1{
  background-repeat: no-repeat;
  z-index: 1;
}
.data-dica{
  font-family: "Calibri", Arial, sans-serif;
  font-size: 25px;
  color: black;
  margin-left: 10px;
}
.tit-dica{
  font-family: "Calibri", Arial, sans-serif;
  font-size: 30px;
  color: black;
  margin-left: 10px;
  min-height: 74px;
}
.txt-dica{
  font-family: "Calibri", Arial, sans-serif;
  font-size: 18px;
  color: black;
  text-align: justify;
  width: 280px;
  margin-left: 10px;
}
.btn-dica a{
  font-family: "Calibri", Arial, sans-serif;
  font-size: 20px;
  color: #FF7F00;
  margin-left: 10px;
  font-weight: bold;
}
.btn-mais-dicas{
  width: 200px;
  text-align:center;
  font-family: "Calibri", Arial, sans-serif;
  font-size: 20px;
  color: #FF7F00;
  font-weight: bold;
  border: 1px solid #cccccc;
}
.bt{
  text-align: center;
}
.bt a{
  background: #FFF;
  border: 1px solid #999;
  text-transform: uppercase;
  color: #999;
}
.txt-rodape{
  text-align:center;
  font-family: "Calibri", Arial, sans-serif;
  font-size: 18px;
}
.tit_interno{
    font-family: "TitilliumWeb-Bold";
}
.txt-empresa{
  font-family: "Calibri", Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  text-align: justify;
  line-height: 30px;
}
.line-horizontal{
  border-right-width: 1px;
  border-right-style: outset;
  border-right-color: #EEEEEE;
  /*height: 505px;*/
}
.txt-not-int{
  font-family: "Calibri", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  text-align: justify;
  line-height: 20px;
}


.txt-not-int p{
 font-family: "Calibri", Arial, sans-serif;
  font-size: 13px;
  color: #000000;
  text-align: justify;  
}

.txt-valores{
  font-family: "Calibri", Arial, sans-serif;
  font-size: 20px;
}
.line-horizontal-valores{
  border-left-width: 1px;
  border-left-style: outset;
  border-left-color: #EEEEEE;
  margin-left: 85px;
  margin-top: -52px;
  /*height: 505px;*/
}
.valores{
  font-family: "Calibri", Arial, sans-serif;
  font-size: 15px;
  line-height: 25px;
  padding: 10px;
}

/*input.search-field{
  background: url('img/busca.png') no-repeat center right;
  padding:5px;
  border:none;
  width: 20px;
  transition: all 0.5s linear;
  -webkit-transition: all 0.5s linear;

}*/

input.search-field:focus{
  width: 200px;
  border-bottom: 1px solid #ddd;
  outline: none;
}

input.regfild{
  height: 30px;
  margin:0;
  padding:0;
  border:none;
  box-shadow: none;

}

.nsubmite{
  border-radius: 25px;
  background-color: #FFA500;
  padding:5px 20px;
  font-weight: bold;
  border:none;
}


.input-container {
  display: flex;
  width: 100%;
  border: 1px solid #999;
}

/* Style the form icons */
.icon {
  padding: 6px;
  background: #fff;
  color: #999;
  text-align: center;
}

/* Style the input fields */
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}

.custom-html-widget{
  display: inline;
}

.pic-dica1 img{
  height: 211px;
  width: 100%;

}

.data-dia {
  background-color: #F5F5F5;
  color: #222;
  font-size: 35px;
  text-align: center;
}

.data-mes {
  background-color: #FF7F00;
  color: #fff;
  font-size: 22px;
  text-align: center;
}

.more-link{
  color:#FF7F00;
}


#cssmenu > ul > li.menu-item-38 > a{
  text-indent: -9000px;
  background: url('img/busca.png') no-repeat center right;
  padding: 17px 0;
  display: block;
}

.search-form{
  width: 30%;
  float: right;
}

#cssmenu ul{
  float:none;
}